[loggers]
keys=root

[handlers]
keys=consoleHandler,fileHandler

[formatters]
keys=consoleFormatter,fileFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler,fileHandler

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=consoleFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
level=DEBUG
formatter=fileFormatter
args=(os.path.expanduser('~/.nostaples/nostaples.log'), 'a')

[formatter_consoleFormatter]
format=%(levelname)-8s %(name)-25s  %(message)s (%(lineno)d)

[formatter_fileFormatter]
format=%(asctime)s %(levelname)-8s %(name)-25s %(message)s (%(lineno)d)
datefmt=%m-%d %H:%M
